<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Portfolio</title>
</head>
<body>

  <header>
    <a href="../templates/index.html"> <img src="../static/fotos/index/logo-geel-blauw.png" alt="logo"></a> 
    <nav>
      <ul><a href="#home">Home</a></li>
        <ul><a href="#projects">Projecten</a></li>
        <ul><a href="#learningoutcomes">Leeruitkomsten</a></li>
        <ul><a href="#aboutme">Over Mij</a></li>
    </nav>
  </header>

  <section id=home class="section1">
    <div class="bottom-left-text">
      Evy Knops
    </div>
  </section>

  <section id="projects" class="section2">
    <h2 class="titletext">Projecten</h2>
      <div class="hero-container">
        <a href="project1.html">
          <div class="hero-grid">
            <div class="hero-card" >
              <div class="hero-background"></div>
              <div class="hero-name2"><h2 class="hero-text">Branding</h2></div>
            </div>
          </div>
        </a>
        <div class="hero-grid">
          <div class="hero-card" style="--bg-image: url('https://placehold.co/400x600');">
            <div class="hero-background"></div>
            <div class="hero-name"><h2 class="hero-text">UX</h2></div>
          </div>
        </div>
        <div class="hero-grid">
          <div class="hero-card" style="--bg-image: url('https://placehold.co/400x600');">
            <div class="hero-background"></div>
            <div class="hero-name"><h2 class="hero-text">DEV</h2></div>
          </div>
        </div>
        <div class="hero-grid">
          <div class="hero-card" style="--bg-image: url('https://placehold.co/400x600');">
            <div class="hero-background"></div>
            <div class="hero-name2"><h2 class="hero-text">Personal Project</h2></div>
          </div>
        </div>
        <div class="hero-grid">
          <div class="hero-card" style="--bg-image: url('https://placehold.co/400x600');">
            <div class="hero-background"></div>
            <div class="hero-name"><h2 class="hero-text">Port Folio</h2></div>
          </div>
        </div>
    
    </div>
</section>

  <section id=learningoutcomes class="section3">
    <h2 class="titletext3">Leeruitkomsten</h2>
    <div class="container">
      <a href="../templates/lo1.html"><div class="card">LO 1</div></a>
      <div class="card">LO 2</div>
      <div class="card"> LO 3</div>
      <div class="card">LO 4</div>
      <div class="card">LO 5</div>
    </div>
  </section>

  <section id=aboutme class="section4">
    <h2 class="titletext3">Over Mij</h2>
  </section>
    
</body>
</html>