<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lo.css">
    <script src="../static/lo.js" defer></script>
    <title>Leeruitkomst 1</title>
</head>
<body>
    <header>
        <a href="../templates/index.html"><img src="../static/fotos/index/logo-geel-blauw.png" alt="logo"></a>
        <nav>
            <ul><a href="../templates/index.html#home">Home</a></li>
              <ul><a href="../templates/index.html#projects">Projecten</a></li>
              <ul><a href="../templates/index.html#learningoutcomes">Leeruitkomsten</a></li>
              <ul><a href="../templates/index.html#aboutme">Over Mij</a></li>
          </nav>
      </header>
    <section class="section">
        <div class="container">
            <div class="title-box">
                Interactive Media Products
            </div>
            <div class="content">
                <div class="sidebar">
                    <div class="proof" data-proof="1">Proof 1</div>
                    <div class="proof" data-proof="2">Proof 2</div>
                    <div class="proof" data-proof="3">Proof 3</div>
                    <div class="proof" data-proof="4">Proof 4</div>
                    <div class="proof" data-proof="5">Proof 5</div>
                    <div class="proof" data-proof="6">Proof 6</div>
                    <div class="proof" data-proof="7">Proof 7</div>
                </div>
            </div>
        </div>
        <div class="main">
            <div id="header-main" class="header-main">
                Interactive Media Products
            </div>
            <div id="text-main" class="text-main">
                <h1>You orient in the relevant tech, 
                media and design landscape and create interactive media products that you have 
                tested with users and stakeholders.</h1>
                <br>
                <h1>Orient :</h1> This can be done in different ways by doing research on new technologies from library (literature, experts)
                but also by trying different techniques for your project.
                <br><br>
                <h1>Relevant tech, media and design landscape :</h1> This refers to the current and influential trends, 
                tools, platforms, and practices within technology, media production, and design. 
                It's about being informed what's fresh, what's fading out, 
                and what tools or methods are best for creating and sharing content.
                <br><br>
                <h1>Interactive Media Products :</h1> Think of interactive media products as either advanced prototypes or proofs of concept
                (POCs). They start in design software like Figma, where they're crafted into clickable, interactive prototypes. 
                These are essentially detailed simulations of the final product, allowing designers and stakeholders to explore 
                how it'll work before any serious coding starts. These prototypes can often be quite sophisticated, giving a very 
                real feel for the user experience without being fully built out. So, an interactive media product can be this 
                rich prototype itself or evolve into a fully coded POC, serving as a tangible example of what the final version 
                aims to be.
                <br><br>
                <h1>Tested with users and stakeholders :</h1> Before you release your interactive product into the wild, 
                you gotta make sure it's user-friendly and fulfilling its purpose. 
                This means putting your product in the hands of actual users 
                (and those with a stake in its success) and watching how they use it, gathering feedback, 
                and refining the product based on their experiences. It ensures that the final product isn't just visionary
                , but also practical and enjoyable to use.
            </div>
        </div>
    </section>
</body>
</html>