<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lo.css">
    <title>Leeruitkomst 1</title>
</head>
<body>
    <header>
        <a href="../templates/index.html"><img src="../static/fotos/index/logo-geel-blauw.png" alt="logo"></a>
        <nav>
            <ul><a href="../templates/index.html">Home</a></li>
            <ul><a href="#">Projecten</a></li>
            <ul><a href="#">Leeruitkomsten</a></li>
            <ul><a href="#">Over Mij</a></li>
        </nav>
      </header>
    <section class="section">
        

        <div class="container">
            <div class="title-box">
                Interactive Media Products22
            </div>
            <div class="content">
                <div class="sidebar">
                    <div>Proof 1</div>
                    <div>Proof 2</div>
                    <div>Proof 3</div>
                    <div>Proof 4</div>
                    <div>Proof 5</div>
                    <div>Proof 6</div>
                    <div>Proof 7</div>
                    
                </div>
            </div>
        </div>
        <div class="main">

            
        </div>
      </section>
</body>
</html>